@media (max-width: 1600) {
    
  
    .footer-content {
      position: absolute;
      margin-top: 100%;
      flex-direction: column;
    }
  
     .left-options {
        flex-direction: row;
        font-size: 40;
        gap: 5.1rem;
        background-color: red;
      }
  
    .right-options {
      flex-direction: row;
      gap: 4.5rem;
      position: absolute;
      background-color: red;
      margin-top: 5rem;
    } 
  }
  